body {
	
}
section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 38px 'Open Sans';
	font-weight: bold;
	-webkit-text-stroke: 1px #454545;
	text-shadow: -1.5px 1.5px 3px #ffffff,
				  1.5px 1.5px 3px #ffffff,
				  1.5px -1.5px 0 #ffffff,
				  -1.5px -1.5px 0 #ffffff;
}
section p {
	font: 16px 'Open Sans';
	background: #ffffff;
}
#background {
	background: url(../img/summer.jpg);
}
